@import "../../color-constants.scss";

.element-card {
  position: relative;
  box-sizing: border-box;
  border: solid black 1px;
  height: 150px;
  width: 150px;
  display: grid;
  grid-template-rows: 35px 40px 45px 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;

  .element-number {
    padding-top: 3px;
    font-size: 12px;
  }

  .element-id {
    font-size: 56px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: none;
  }

  .element-name {
    font-size: 14px;
  }
  .element-dates {
    width: 130px;
    text-align: start;
    font-size: 12px;
  }

  .element-qr-code {
    width: 36px;
    position: absolute;
    bottom: 5px;
    right: 5px;
  }

  &.activists {
    background-color: $activists;
  }
  &.artists {
    background-color: $artists;
  }
  &.athletes {
    background-color: $athletes;
  }
  &.firsts {
    background-color: $firsts;
  }
  &.entrepreneurs {
    background-color: $entrepreneurs;
  }
  &.government {
    background-color: $government;
  }
  &.lgbtq {
    background-color: $lgbtq;
  }
  &.musicians {
    background-color: $musicians;
  }
  &.poets {
    background-color: $poets;
  }
  &.theatre {
    background-color: $theatre;
  }
  &.visual-arts {
    background-color: $visual-arts;
  }
  &.writers {
    background-color: $writers;
  }
  &:hover {
    background-color: $hover;
  }
}
