@import "../../color-constants.scss";

.element-card {
  border: 1px solid $border;
  height: 5vw;
  width: 5vw;
  display: grid;
  grid-template-rows: 0.5vw 2.5vw 1vw 0.5vw;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;

  .element-number {
    font-size: 0.5vw;
  }

  .element-id {
    font-size: 36px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: none;
  }

  .element-name {
    font-size: 0.5vw;
    overflow: hidden;
    white-space: nowrap;
  }

  .element-dates {
    font-size: 0.5vw;
    color: $grey;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  &.activists {
    background-color: $activists;
  }
  &.artists {
    background-color: $artists;
  }
  &.athletes {
    background-color: $athletes;
  }
  &.firsts {
    background-color: $firsts;
  }
  &.entrepreneurs {
    background-color: $entrepreneurs;
  }
  &.government {
    background-color: $government;
  }
  &.lgbtq {
    background-color: $lgbtq;
  }
  &.musicians {
    background-color: $musicians;
  }
  &.poets {
    background-color: $poets;
  }
  &.theatre {
    background-color: $theatre;
  }
  &.visual-arts {
    background-color: $visual-arts;
  }
  &.writers {
    background-color: $writers;
  }
  &:hover {
    background-color: $hover;
  }
}
