@import "../../color-constants.scss";
.about-badge {
  text-align: center;
  font-size: 9px;
  color: white;
  padding: 0 24px 24px 12px;
  &.mobile {
    font-size: 8px;
  }
  a {
    color: white;
    cursor: pointer;
  }
}
