@import "../../color-constants.scss";
.show-list-button {
  width: 170px;
  box-sizing: border-box;
  border: 2px solid black !important;
  box-shadow: 2px 2px black;
  border-radius: 12px;
  padding: 6px;
  margin-top: 6px;
  font-weight: normal;
  font-size: 16px;
  align-self: center;
}
.bhm-periodic-table {
  display: grid;
  grid-template-columns: repeat(17, auto) 1fr;
  border-collapse: collapse;
  .element-2 {
    grid-column-start: -2;
  }
  .element-5,
  .element-13 {
    grid-column-start: 13;
  }
  .element-72,
  .element-104 {
    grid-column-start: 4;
  }
}
