@import "../../color-constants.scss";

.element-info-card {
  overflow: hidden;
  display: grid;
  grid-column: 3/13;
  grid-row: 2/4;
  grid-template-columns: auto 1fr;
  max-width: 51vw;
  margin-left: 0.1vw;
  .element-image {
    height: 10vw;
  }
  .element-box {
    border: 1px solid $border;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 10vw;
    .number {
      font-size: 0.9vw;
    }
    .id {
      font-size: 5vw;
    }
    .name {
      font-size: 1.5vw;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .dates {
      font-size: 0.7vw;
      color: $grey;
    }
    &.activists {
      background-color: $activists;
    }
    &.artists {
      background-color: $artists;
    }
    &.athletes {
      background-color: $athletes;
    }
    &.firsts {
      background-color: $firsts;
    }
    &.entrepreneurs {
      background-color: $entrepreneurs;
    }
    &.government {
      background-color: $government;
    }
    &.lgbtq {
      background-color: $lgbtq;
    }
    &.musicians {
      background-color: $musicians;
    }
    &.poets {
      background-color: $poets;
    }
    &.theatre {
      background-color: $theatre;
    }
    &.visual-arts {
      background-color: $visual-arts;
    }
    &.writers {
      background-color: $writers;
    }
  }
  .element-info {
    padding: 12px 18px;
    .title {
      font-weight: bold;
    }
    background-color: white;
    border: 1px solid black;
    display: grid;
    align-items: start;
    text-align: start;
  }
}
