.bhm-periodic-table-container {
  height: calc((var(--vh) * 100));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.1vh;
  .legend-container {
    margin-top: 24px;
  }
}
