.app-container {
  position: relative;
  .menu-button {
    color: white;
    position: absolute;
    top: 12px;
    right: 12px;
  }
  .about-page-container,
  .donate-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &.desktop {
      height: calc((var(--vh) * 100));
    }
    &.mobile {
      .donate-page,
      .about-page {
        margin: 14vh 5vw;
      }
    }
  }
  .bhm-periodic-table-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    &.desktop {
      height: calc((var(--vh) * 100));
      overflow: hidden;
    }
    .p4d-logo {
      background: white;
      border-radius: 6px;
      position: absolute;
      bottom: 12px;
      left: 12px;
      height: 70px;
      padding: 12px;
    }
    &.mobile {
      .p4d-logo {
        background: white;
        border-radius: 6px;
        position: absolute;
        bottom: 12px;
        right: 12px;
        left: unset;
        height: 36px;
        padding: 12px;
      }
      .about-badge {
        width: 180px;
      }
    }
    .bhm-title {
      font-size: 36px;
      border-radius: 6px;
      background-color: white;
      box-sizing: border-box;
      border: 1px solid black;
      padding: 12px;
      margin: 12px;
    }
    .bhm-periodic-table-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .legend-container {
        margin: 24px 0;
        .legend {
          border-radius: 6px;
          background-color: white;
          color: black;
        }
      }
    }
  }
}
