.bhm-periodic-table-container {
  .bhm-title {
    font-size: 48px;
  }
  height: calc((var(--vh) * 100) + 64px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.1vh;
  .legend-container {
    margin-top: 24px;
  }
}
