$activists: green;
$artists: teal;
$athletes: lightskyblue;
$firsts: magenta;
$entrepreneurs: red;
$government: lightgreen;
$lgbtq: turquoise;
$musicians: orangered;
$poets: orange;
$theatre: pink;
$visual-arts: peachpuff;
$writers: yellow;
$selected: black;
$border: black;
$grey: #363636;
$hover: #ffffff;
