$activists: #04e762;
$artists: #731dd8;
$athletes: #00a1e4;
$firsts: #dc0073;
$entrepreneurs: #ff01fb;
$government: #b27c66;
$lgbtq: #caa8f5;
$musicians: #9c528b;
$poets: #f7a9a8;
$theatre: #faff00;
$visual-arts: #0ead69;
$writers: #ff7700;
$selected: black;
$border: black;
$grey: #363636;
$hover: #ffffff;
